/*General*/
.page-body {
    background: linear-gradient(45deg, #ddeeff, #6699cc);  
}
.wrapper {
    margin: 0 auto;
    max-width: 960px;
}
.content {
    margin: 10px;
    width: 300px;
    height: 200px;
    float: left;  
    border-radius: 10px;
}
.content_white {
    background-color: #ffffff;
}
.content_lightblue {
    background-color: #ddeeff;
}
.content_blue {
    background-color: #6699cc;
}

/*Button1*/
.button1__wrapper {
    margin: 18px auto;
    width: 164px;
    height: 164px;
    position: relative;    
}
.button1 {
    position: absolute;
    border-radius: 100%; 
}
.button1__first-line {
    width: 160px;
    height: 160px;
    border: 2px solid #6699cc;
    opacity: 0.5;
    animation: first-line 2s infinite ease-in-out;
}
.button1__second-line {
    margin: 17px;
    width: 130px;
    height: 130px;    
    background-color: #3366cc;
    animation: second-line 2.6s infinite ease-in-out;
}
.button1-round {
    margin: 32px;
    width: 100px;
    height: 100px;    
    background-color: #6699cc;
}
.button1-round:hover {
    opacity: 0.8;
}
.button1-phone {
    margin: 35px;
    width: 30px;
    height: 30px;
    animation: swing 2s infinite linear;
}

@keyframes first-line {
    0% {transform: scale(0.1); opacity: 0.1;}
    30% {transform: scale(0.7); opacity: 0.3;}
    100% {transform: scale(1); opacity: 0.1;}
}
@keyframes second-line {
    0%, 100% {transform: scale(0.7); opacity: 0.2;}
    50% {transform: scale(1); opacity: 0.2;}
}
@keyframes swing {
    0%,100% {transform: rotate(-10deg);}
    50%{transform: rotate(10deg);}
}

/*Button2*/
.button2__wrapper {
    margin: 24px auto;
    width: 152px;
    height: 152px;
    position: relative;    
}
.button2 {
    position: absolute;
    border-radius: 100%; 
}
.button2__line {
    margin: 14px;
    width: 120px;
    height: 120px;
    opacity: 0.6;
    border: 2px solid #6666cc;
}
.button2-round {
    margin: 36px;
    width: 80px;
    height: 80px;    
    background-color: #6666cc;
    animation: b2color 3s infinite linear;
}
.button2-phone:hover {
    animation: b2swing 0.5s linear;
}
.button2-phone {
    margin: 25px;
    width: 30px;
    height: 30px;
}
.button2-round-mini {
    margin: 61px;
    width: 30px;
    height: 30px;
    background-color: #6666cc;
    animation: b2rotation 3s infinite linear;
}
@keyframes b2swing {
    15%,40%,60%,85% {transform: translateX(7px);}
    30%,50%,75%,100% {transform: translateX(-7px);}
}
@keyframes b2color {
    20% {background-color: #333399;}
    60% {background-color: #6666cc;}
    80% {background-color: #ccccff;}
}
@keyframes b2rotation {
    from {transform: rotate(0deg) translate(-61px) rotate(0deg);}
    20% {background-color: #333399;}
    60% {background-color: #6666cc;}
    80% {background-color: #ccccff;}
	to {transform: rotate(360deg) translate(-61px) rotate(-360deg);
	}
}